[submodule "puppet/modules/cpan"]
	path = puppet/modules/cpan
	url = https://github.com:meltwater/puppet-cpan.git
[submodule "puppet/modules/rbenv"]
	path = puppet/modules/rbenv
	url = https://github.com:alup/puppet-rbenv.git
[submodule "puppet/modules/rabbitmq"]
	path = puppet/modules/rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
