[submodule "puppet/modules/cpan"]
	path = puppet/modules/cpan
	url = git@github.com:meltwater/puppet-cpan.git
[submodule "puppet/modules/rbenv"]
	path = puppet/modules/rbenv
	url = git@github.com:alup/puppet-rbenv.git
