# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "elogroup/ubuntu-precise"
  config.ssh.username = 'ubuntu'
  config.ssh.forward_agent = true
end
